@import "../../global.scss";

.categories{

.categoryPc{
    display: flex;
    height: 80vh;
    gap:10px;
    margin: 10px;
    
    @include mobile{
        display: none;
    }

   
    .col{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.col-lg{
            flex: 2;
        }

        .row{
            display: flex;
            flex: 1;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            gap: 10px;
             &:hover{
                span{
                    opacity: 1;
                }
             }
    
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all 0.5s ease;
                position: relative;
               
                &.lower{
                    height: 185%;
                } 
                &:hover{               
                    transform: scale(1.05);                
                }                                      
            }
            span{
                background-color: white;
                opacity: 0.8;
                padding: 5px 15px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top:5%;
                left:5%;
                width: fit-content;           
                border: none;
                color: rgb(241, 149, 9);         
                text-transform: uppercase;
                font-style: italic;
                font-weight: 800;    
                font-size: 15px;
                cursor: pointer;
            }
                
        }       
    }   
}
.categoryMobile{
    
    display: none;
    
    @include mobile{
        display: block;
    }
}

}